/* Navbar container */
.dropdown-navbar {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 20px;
    background: linear-gradient(90deg, rgba(227, 210, 111, 0.8), rgba(170, 150, 34, 0.7));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

/* Logo styling */
.navbar-logo .logo {
    width: 80px;
    height: 40px;
    object-fit: cover;
    margin-right: 15px;
}

/* Navbar item styling */
.navbar-item {
    margin: 0;
    padding: 5px 25px;
}
.navbar-links {
    display: flex;
    gap: 1em;
    margin-left: auto;
}
/* Linki w navbarze - domyślny styl */
.navbar-link {
    color: #ffffff; /* Szary kolor domyślny dla tekstu */
    text-decoration: none; /* Usuń podkreślenie */
    transition: color 0.2s ease-in-out; /* Płynne przejście koloru */
}

/* Linki po najechaniu myszką */
.navbar-link:hover {
    color: rgb(227, 210, 111); /* Żółty kolor po najechaniu */
}

